<web-app>
<display-name>FrontController</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>ts</servlet-name>
<servlet-class>com.dib.servlet.TrapperServlet</servlet-class>
<load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
<servlet-name>ts</servlet-name>
<url-pattern>*.do</url-pattern>
</servlet-mapping>
</web-app>